<h1>Sectors</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @sectors.each do |sector| %>
  <tr>
    <td><%= sector.name %></td>
    <td><%= link_to 'Edit', edit_sector_path(sector), class: "btn btn-mini" %></td>
    <td><%= link_to 'Eviscerate', sector, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini" %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Sector', new_sector_path, class: "btn btn-mini"  %>
