<div class="center hero-unit">
  <center><h1>Welcome</h1></center>
  <br />
  <p>Buttonwood is a tool to track your portfolio.  First, set up your Portfolios.  Then, add the stocks in the Coverage page.  Finally, enter your detailed portfolio data in your Holdings.  You can also access specific analytics under Holdings.</p>
  <br />

<center><%= link_to "Sign Up", sign_up_path, :class => "btn btn-large" %></center>
</div>